{% extends "base.html" %} {% block content %}

<h1 class="text-3xl font-bold mb-6">Dashboard Analisis Attrition</h1>

<div class="bg-white rounded-xl shadow p-4">
  <iframe
    class="w-full rounded-lg"
    height="750"
    src="https://lookerstudio.google.com/embed/reporting/5701230a-d17d-4f7d-914d-ed3f1873b269/page/0T3qF"
    frameborder="0"
    style="border: 0"
    allowfullscreen
    sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"
  >
  </iframe>
</div>

{% endblock %}
